@{
    ViewData["Title"] = "Proyecto hecho en .Net para gestión de películas y comentarios";
}
<h1>@ViewData["Title"]</h1>
<p> Puede loguearte, registrar y gestionar películas, dejar comentarios y calificaciones, además de visualizar los comentarios y calificaciones de otros usuarios</p>
