@* <link rel="stylesheet" href="~/css/agregarpeli.css" /> *@
@model MovieAppWeb.Models.dto.PeliculaDTO;
@{
    ViewData["Title"] = "Agregar película";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Titulo">Título</label>
        <input asp-for="Titulo" class="form-control" placeholder="Título" />
    </div>

    <div class="form-group">
        <label asp-for="Año">Año</label>
        <input asp-for="Año" class="form-control" placeholder="Año de estreno" />
    </div>

    <div class="form-group">
        <label asp-for="Genero">Seleccione Género</label>
        <select asp-for="Genero" class="form-control">
            <option>Acción</option>
            <option>Comedia</option>
            <option>Drama</option>
            <option>Romance</option>
            <option>Ciencia y ficción</option>
            <option>Terror</option>
            <option>Suspenso</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="Sinopsis">Sinopsis</label>
        <textarea asp-for="Sinopsis" placeholder="Sinopsis de la pelicula" class="form-control" cols="30" rows="10"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="ImagenFile">Subir imagen</label>
        <input asp-for="ImagenFile" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Trailer">Url del trailer</label>
        <input asp-for="Trailer" class="form-control" required />
    </div>

    <div class="text-center">
        <input type="submit" class="btn btn-primary" value="Agregar película" />
        <input type="button" class="btn btn-danger" value="Volver" onclick="location.href='@Url.Action("Index","Home")'" />
    </div>
</form>
</div>