<!--
<link rel="stylesheet" href="~/css/agregarpeli.css" />
-->
@model MovieAppWeb.Models.Pelicula;
@{
    ViewData["Title"] = "Editar película";
}
<h1>@ViewData["Title"]</h1>
<div class="container">

    <form method="post">
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Titulo">Título</label>
            <input asp-for="Titulo" class="form-control" placeholder="Título">
        </div>

        <div class="form-group">
            <label asp-for="Año">Año</label>
            <input asp-for="Año" class="form-control" placeholder="Año de estreno">
        </div>

        <div class="form-group">
            <label asp-for="Genero">Seleccione Género</label>
            <select asp-for="Genero" class="form-control">
                <option>Acción</option>
                <option>Comedia</option>
                <option>Drama</option>
                <option>Romance</option>
                <option>Ciencia y ficción</option>
                <option>Terror</option>
                <option>Suspenso</option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="Sinopsis">Sinopsis</label>
            <textarea asp-for="Sinopsis" placeholder="Sinopsis de la pelicula" class="form-control" cols="30" rows="10"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="Imagen">Url de la imagen</label>
            <input asp-for="Imagen" class="form-control">
        </div>


        <div class="form-group">
            <label asp-for="Trailer">Url del trailer</label>
            <input asp-for="Trailer" class="form-control" required>
        </div>


        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="Confirmar edicion">
    </form>

</div>