@model MovieAppWeb.Models.Usuario;
@{
    ViewBag.title = "Registro Usuario";
}

<h1>@ViewBag.title</h1>
<div class="container">
    <form method="POST">
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label>Nombre de usuario:</label>
            <input class="form-control" id="username" name="username" placeholder="Usuario">
        </div>
        <div class="form-group">
            <label>Contrase침a:</label>
            <input class="form-control" type="password" id="pwd" name="pwd" placeholder="Contrase침a">
        </div>
        <div class="form-group">
            <label>Dni:</label>
            <input class="form-control" asp-for="Dni" placeholder="Dni">
        </div>
        <div class="form-group">
            <label>Nombres:</label>
            <input class="form-control" asp-for="Nombre" placeholder="Nombres">
        </div>
        <div class="form-group">
            <label>Apellidos:</label>
            <input class="form-control" asp-for="Apellido" placeholder="Apellidos">
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-2 col-sm-2 col-md-2"><label>Sexo:</label></div>
                <div class="col-5 col-sm-5 col-md-5"><label><input type="radio" asp-for="Sexo" value="M"> Masculino</label></div>
                <div class="col-5 col-sm-5 col-md-5"><label><input type="radio" asp-for="Sexo" value="F"> Femenino</label></div>
            </div>
        </div>
        <div class="form-group">
            <label>Fecha de Nacimiento:</label>
            <input class="form-control" asp-for="FecNac" placeholder="Fecha de Nacimiento">
        </div>
        <div class="form-group">
            <label>Correo:</label>
            <input class="form-control" asp-for="Email" placeholder="Correo Electronico">
        </div>
        <div class="form-group">
            <label>Nro Celular:</label>
            <input class="form-control" asp-for="Celular" placeholder="Numero Celular">
        </div>
        <div class="form-group">
            <label>Genero Favorito:</label>
            <select asp-for="GenFav" class="form-control">
                <option>Acci칩n</option>
                <option>Comedia</option>
                <option>Romance</option>
                <option>Ciencia y ficci칩n</option>
                <option>Terror</option>
                <option>Suspenso</option>
            </select>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="Registrarme">
    </form>
    <input type="submit" class="btn btn-danger" value="Volver" onclick="location.href='@Url.Action("Index","Home")'">
</div>
</div>